# Compilación
target/
*.class
build/

# Configuración de IDEs
.git/
.idea/
.vscode/
*.iml

# Archivos temporales y logs
*.log
logs/
tmp/
*.swp
*.bak
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Maven/Gradle
.mvn/wrapper/maven-wrapper.jar
.gradle/

# Docker
Dockerfile
.dockerignore

# Variables de entorno
*.env